.App {
  text-align: center;
  background-color: #F6F2FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Helvetica;
}

@media screen and (min-width: 640px) {
  .landing__paragraph {
    width: 521px;
  }
}

@media (max-width: 640px) {
  .landing__paragraph {
    width: 321px; /* playing up with a margin on the right - possibly caused by the width above? */
    text-align: center;
  }
}

@media (max-width: 640px) {
  .landing__button {
    width: 187px;
  }
}
